# Xcode
DerivedData/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcuserstate
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserdatad

# SwiftPM
.swiftpm/
Package.resolved

# macOS
.DS_Store
